.section-services {
  min-height: 90vh;
  background-color: $light-bg;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  position: relative;

  @include desktop {
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
    padding-bottom: 10rem;
    .view-all-btn {
      top: 93%;
      right: 10%;
    }
  }
}
@import "service-box";
@import "service-desc";
