// Variables
// color
$primary-color: #051622;
$primary-color-light: #142f42;
$primary-color-dark: #04121d;
$secondary-color: #fb9039;
$secondary-color-dark: #f77811;
$secondary-color-light: #e7be9d;
$third-color: #36e7f7;
$text-color: #565656;

$black: #000;
$white: #fff;
$light-color: #666;
$light-bg: #f5f5f5;
$light-bg-text: #dddddda2;
$sec-title: #051622e0;

// font family
$text-font: "Montserrat", sans-serif;

$heading-font: "Kanit", sans-serif;

// Border
$border: 1rem solid rgba(0, 0, 0, 0.1);

// Shadow
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$box-shadow-2: 0 1rem 1rem rgba(0, 0, 0, 0.2);
$dark-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
