// Button styles
.btn {
  color: $secondary-color;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid transparent;
  font-size: 1.5rem;
  font-weight: 500;
}
.btn-border {
  @extend .btn;
  border: 2px solid $primary-color;
  &:hover {
    background-color: $primary-color;
  }
}
.btn-solid {
  @extend .btn;
  background-color: $primary-color;
  &:hover {
    background: $white;
    color: $secondary-color;
    border: 2px solid $primary-color;
  }
}
